/* everything inside "@media screen" only affects the browser view, not the pdf. 
   use this to adjust what you see while you're previewing in the browser. 
   for example here I've set the page width to 50% to look more like a book page. */
@media screen {
    body {
        width: 50%;
    }
}

@font-face {
    /* replace this (and any other instances of FONT_NAME_HERE) with a friendly name of your choice for your font */
    font-family: FONT_NAME_HERE;
    /* replace the "url" with the relative file path to the font file you want to use */
    src: url(fonts/yourfont.ttf); 
}

/* #region page */

/* this is where you can configure the page numbers (or other stuff you want to
   appear in the margins). here I've placed the page numbers at the bottom. */

@page: right {
    @bottom-right {
        content: counter(page);
        font-family: FONT_NAME_HERE;
        font-size: 14pt;
    }
}

@page: left {
    @bottom-left {
        content: counter(page);
        font-family: FONT_NAME_HERE;
        font-size: 14pt;
    }
}

/* these next two @page rules allow you to start page numbers after the first page.
   in this case we want 6 numberless pages at the beginning of the book.
   (h/t tumblr user moth-time for helping figure out how to do this!) */

@page :nth(-n+6) { 
    @bottom-right {
      content: none;
    }
    @bottom-left {
      content: none;
    }
}

@page: first {
    counter-reset: page -6;
}

/* #endregion */

/* #region basic */

body {
    margin: auto;
    text-align: justify;
    line-height: 1.5em;
    font-size: 14pt;
    font-family: FONT_NAME_HERE;
}

p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

hr {
    border: none;
    text-align: center;
}

hr::after {
    content: '***'; /* you can replace *** with any unicode character/s */
}

#firstpage {
    break-before: right;
    break-after: right;
}

#titlepage {
    break-before: right;
    break-after: right;
    margin: auto;
    text-align: center;
    height: 100vh;
    margin-top: 30vh;
}

#title {
    font-size: 28pt;
}

#byline {
    font-size: 18pt;
    margin-top: 1em;
}

#chapters .heading {
    break-before: right;
    text-align: center;
}

/* #endregion */

/* #region notes */

/* I've chosen to hide chapter notes by default. If you 
   would like to display them, you can delete this section. */

#chapters .meta.group>p {
    display: none;
}

#chapters .meta.group>blockquote {
    display: none;
}

#chapters [id^="endnotes"] {
    display: none;
}

.endnote-link {
    display: none;
}

/* #endregion */

/* #region preface */

#preface {
    break-before: left;
    break-after: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11pt;
}

#preface>p {
    text-indent: 0;
    text-align: left;
}

#preface>.toc-heading {
    display: none;
}

#preface>.message>b {
    display: none;
}

#preface>.message>br {
    display: none;
}

#preface h1 {
    display: none;
}

#preface .byline {
    display: none;
}

#preface .tags dt {
    float: left;
    clear: left;
    text-align: right;
    white-space: nowrap;
}

#preface .tags dd {
    margin-left: 200px; /* might need to fiddle with this number depending on font size etc */
    text-align: left;
}

#preface .meta p {
    text-indent: 0;
}

#preface .meta>p::after {
    content: ":";
}

#preface blockquote {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1em;
}

#preface blockquote p {
    margin-bottom: 1em;
}

/* #endregion */

/* #region toc */

#toc {
    break-before: right;
    break-after: right;
    /* below makes the entire thing roughly centered. not strictly necessary but I think it looks nicer. */
    margin: auto;
    text-align: center;
    height: 100vh;
    margin-top: 40vh; /* this number can be adjusted to move the content up and down the page */
}

/* I find the list format convenient and it's what was used in the example I adapted this from. 
   it's likely not necessary - could probably use divs or something else to make the line breaks. */
#toc li {
    list-style: none; /* bullet points are default, remove them */
}

/* unlike with the list formatting, it's very important to use anchor tags for this. */
#toc li a {
    /* these two properties work together to put space between the 
       chapter names and page numbers. width can be adjusted if desired. */
    width: 50%;
    display: inline-flex;
}

/* this bit controls what goes in the space between the chapter names and page numbers. 
   if you like you can use border properties etc to decorate it. I've left it plain. */
#toc li a::before {
    flex: auto;
    content: "";
    order: 1;
}

/* where the magic happens. make sure you've done the following in the html:
   1. added ids to your chapter headings (id="ch1") and 
   2. referenced them in the href attribute in the toc (href="#ch1")
   don't forget that the HREF starts with "#" while the ID does not! */
#toc li a::after {
    content: target-counter(attr(href, url), page);
    order: 2;
}

/* #endregion */

/* #region afterword */

#afterword {
    break-before: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#afterword #endnotes>p {
    display: none;
}

#afterword blockquote {
    margin-left: 0;
    margin-top: 0;
}

#afterword dl {
    display: none;
}

#afterword>.message {
    text-indent: 0%;
    position: absolute;
    bottom: 0%;
}

/* #endregion */
