hr{
    border: none;
    text-align: center;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

hr::after {
    content: "";
    display: block;
    background-image: url("scene-break-image.png");
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    margin-left: auto;
    margin-right: auto;
}
